// Terms

.terms__chapter {
  &:nth-child(odd) {
    background: $white;
  }

  &:nth-child(even) {
    background: $bk-grey;
  }

  .header-line {
    @include raleway(700, uppercase);
    @include font(22, 28);
    color: $dark-grey;
    margin: 0;

    &::after {
      border-color: $gradient-to;
    }
  }

  .header {
    @include raleway(700, uppercase);
    @include font(16, 22);
    color: $dark-grey;
  }

  p {
    text-align: justify;

    &:last-child {
      margin: 0;
    }
  }

  @media (min-width: $break-tablet) {
    .header-line {
      @include font(32, 38);
    }
  }

  @media (min-width: $break-large) {
    .header-line {
      @include font(36, 42);
    }

    .header {
      @include font(21, 28);
    }
  }
}
