
- f = locals[:form_builder]
- q = radio_question

.question-content
  .grid-col-5.grid-col__left.col-space__right
    %label
      = q.builder_text
    - unless q.tip_text.blank?
      .question-tip
        .open__button
        .tip__text
          %p
            = unescape_newline q.tip_text
  .grid-col-7.grid-col__left
    .radio-question
      = f.collection_radio_buttons q.key, q.special_data, :itself, :itself
