$template1Background: #F1F1F2;
$template1Text: #000000;
$template1Border: #939598;
$footer-color: #939598;

// // Raleway variables
$ralewayLightItalic: 'LIRaleway', sans-serif;
$ralewayItalic: 'IRaleway', sans-serif;
$ralewayRegular: 'RRaleway', sans-serif;
$ralewaySemiBold: 'SBRaleway', sans-serif;
$ralewayBold: 'BRaleway', sans-serif;

// Open Sans variables
$openSansBold: 'BOpen Sans', sans-serif;
$openSansSemibold: 'Open Sans', sans-serif;
$openSansRegular: 'ROpen Sans', sans-serif;