.form-header
  .grid-col-6.grid-col__left
    %h3 Intră în cont
  .grid-col-6.grid-col__left
    .form-action.grid-col__right
      Nu ai un cont?
      = link_to 'Fă-ți unul.', new_user_registration_path, :remote => true
