.user__pass {
  .header-line {
    @include raleway(700, uppercase);
    @include font(22, 28);
    color: $dark-grey;
    margin: 0;

    &::after {
      border-color: $gradient-to;
    }
  }

  .link-button {
    border-color: $gradient-from;
    background: $gradient-from;
    color: $bk-white;

    &.button--delete {
      border-color: $mid-grey;
      color: $dark-grey;
      background: transparent;
    }
  }
}
