.resume__cat-nav
  .nav-pagination
    .container
      %button.resume-prev.grid-col__left Prev
      %nav
        %span.cd-marker.item-1

        %ul
          %li.selected
            %a{href: "#"} 1
            %span Poziția pentru care aplici
            = render partial: "position"
          %li
            %a{href: "#"} 2
            %span Pe scurt despre tine

          %li
            %a{href: "#"} 3
            %span Povestește-ne despre experiența ta de lucru
          %li
            %a{href: "#"} 4
            %span Competențe lingvistice
          %li
            %a{href: "#"} 5
            %span Avantajele tale
          %li
            %a{href: "#"} 6
            %span Educație
          %li
            %a{href: "#"} 7
            %span Cursuri și programe de training
          %li
            %a{href: "#"} 8
            %span Calificări, certificări
          %li
            %a{href: "#"} 9
            %span Hobby-uri
      %button.resume-next.grid-col__left Next

