.resume--cat-nav#top-nav
  .nav-pagination
    .container
      .grid-col-3.grid-col__left
        %button.resume-prev.grid-col__left.link-button Înapoi
      .grid-col-6.grid-col__left.slide-pagination
        %nav
          %span.cd-marker.item-1

          %ul
            %li.selected
              %a{href: "#"} 1
              %span Poziția pentru care aplici
            %li
              %a{href: "#"} 2
              %span Pe scurt despre tine

            %li
              %a{href: "#"} 3
              %span Povestește-ne despre experiența ta de lucru
            %li
              %a{href: "#"} 4
              %span Competențe lingvistice
            %li
              %a{href: "#"} 5
              %span Avantajele tale
            %li
              %a{href: "#"} 6
              %span Educație
            %li
              %a{href: "#"} 7
              %span Cursuri și programe de training
            %li
              %a{href: "#"} 8
              %span Calificări, certificări
            %li
              %a{href: "#"} 9
              %span Hobby-uri
      .grid-col-3.grid-col__right
        %button.resume-next.grid-col__right.link-button Următoarea
  .nav-category
    .container
      .grid-col-6.grid-col__left
        %h3 Poziția pentru care aplici
      .grid-col-6.grid-col__left
        #progress-bar.grid-col-10.grid-col__left
        .progress-label.grid-col-2.grid-col__left

