.form-header
  .grid-col-6.grid-col__left
    %h3 Fă-ți cont
  .grid-col-6.grid-col__left
    .form-action.grid-col__right
      Ai deja unul?
      = link_to 'Intră în cont.', new_user_session_path, :remote => true
